@page
@model labBD.Pages.EditModel
<link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
<h2>Редактирование пользоавтеля</h2>

<form method="post">
    <input name="id" value="@Model.User?.Id" type="hidden" />
    <p>
        <label>Имя</label><br />
        <input name="name" value="@Model.User?.Name" />
    </p>
    <p>
        <label>Почта</label><br />
        <input name="email" value="@Model.User?.Email" />
    </p>
    <p>
        <label>Рост</label><br />
        <input name="height" value="@Model.User?.Height" type="number" />
    </p>
    <p>
        <label>Вес</label><br />
        <input name="weight" value="@Model.User?.Weight" type="number" />
    </p>
    <p>
        <label>Возраст</label><br />
        <input name="age" value="@Model.User?.Age" type="number" />
    </p>
    <p>
        <label>Пол</label><br />
        <input name="sex" value="@Model.User?.Sex"/>
    </p>
    <p>
        <label>Физическая активность</label><br />
        <input name="physicalActivity" value="@Model.User?.PhysicalActivity" type="number" />
    </p>
    <input type="submit" value="Сохранить" class="gradient-button" />
</form>
