@page
@model labBD.Pages.FoodIntakes.CreateModel
<link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
<h2>Добавление новый прием пищи</h2>
<form method="post">
   
   @* <p>
        <label>Вид приема пищи</label><br />
        <input name="typeOfFoodIntake" value="@Model.FoodIntake?.TypeOfFoodIntake" />
    </p>
    <p>
        <label>Блюдо</label><br />
        <input name="mealName" value="@Model.FoodIntake?.Meal?.Name" />
    </p>
    <p>
        <label>Дата приема пищи</label><br />
        <input name="date" value="@Model.FoodIntake?.Date" type="date" />
    </p>
    <p>
        <label>Пользователь</label><br />
        <input name="userName" value="@Model.FoodIntake?.User?.Name" />
    </p>*@
     <p>
        <label asp-for="FoodIntake.Id">Вид приема пищи</label><br  />
        <input asp-for="FoodIntake.Id" value="@Model.FoodIntake?.TypeOfFoodIntake" />
    </p>
    <p>
        <label asp-for="FoodIntake.Meal.Name">Блюдо</label><br />
        <input asp-for="FoodIntake.Meal.Name"  />
    </p>
    <p>
        <label asp-for="FoodIntake.Date">Дата приема пищи</label><br />
        <input asp-for="FoodIntake.Date"  type="date" />
    </p>
    <p>
        <label asp-for="FoodIntake.User.Name">Пользователь</label><br />
        <input asp-for="FoodIntake.User.Name"  />
    </p>
    <input type="submit" value="Отправить" class="gradient-button"/>
</form>
