@page
@model labBD.Pages.FoodIntakes.EditModel
<link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
<h2>Редактирование приема пищи</h2>

<form method="post">
    <input name="id" value="@Model.FoodIntake?.Id" type="hidden" />
    <p>
        <label>Вид приема пищи</label><br />
        <input name="typeOfFoodIntake" value="@Model.FoodIntake?.TypeOfFoodIntake" />
    </p>
    <p>
        <label>Блюдо</label><br />
        <input name="mealName" value="@Model.FoodIntake?.Meal?.Name" />
    </p>
    <p>
        <label>Дата приема пищи</label><br />
        <input name="date" value="@Model.FoodIntake?.Date" type="date" />
    </p>
    <p>
        <label>Пользователь</label><br />
        <input name="userName" value="@Model.FoodIntake?.User?.Name" />
    </p>
    <input type="submit" value="Сохранить" class="gradient-button" />
</form>